  /*============================================
                REGULAR GRID CARDS LAYOUT
    ============================================*/

.card {
    width: var(--cardWidth);
    margin-top:0;

    cursor: pointer;       /* Changes cursor to a hand icon */
    user-select: none;     /* Prevents text highlighting on rapid clicks */
    transition: opacity 0.2s;
}

.card:hover{
    opacity: 0.5; 
    transform:translateY(-4px);
}

.card img{
    width: var(--cardWidth);
    height: var(--cardHeight);
    object-fit:cover;
    border-radius:20px;
    display:block;
}

/*--------------Regular Card Container for  Icons (Media/Main Type, Rating and Favorite)---------------*/

.cardOverlay{
    position:relative;
}

.leftIcons{
    position:absolute;
    top:15px;
    left:15px;

    display:flex;
    flex-direction:column;
    gap:4px;
}

.rightIcons{
    position:absolute;
    top:15px;
    right:12px;
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:4px;
}

/*--------------Card Text Under Regular Card---------------*/

.card p{
    text-align:center;
    font-size:18px;

    display: -webkit-box; 

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 300px; 

    margin: 4px 0 0;
    line-height: 1.2;
}

  /*=======================================================
                REGULAR GRID ADD MEDIA CARDS LAYOUT
    =======================================================*/

.add-card img{
    width: 80px;      
    height: 80px;
}

.add-card{
    width: var(--cardWidth);
    height:250px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    border-radius:20px;
    cursor:pointer;

    background-image: linear-gradient(to right, #888888, #000000);
}

/*--------------Add Card Text Under Regular Card---------------*/

.add-card p{
    text-align:center;
    font-size:18px;
}

  /*============================================
                SMALL GRID CARDS LAYOUT
    ============================================*/

.smallGridCard {
    width: 250px; /* Fixed width to control the card size */
    height: 80px;
    display: flex; /* Flexbox layout */
    align-items: center; /* Vertical centering */
    justify-content: left; /* Horizontal centering of the inner container */
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s;
    gap: 20px; /* Adds space between image and text */
    /* border: 1px solid #ccc; Optional: for visual clarity  */
    /* background-color: #f9f9f9;  */
}

.smallGridCard:hover {
    opacity: 0.5; 
    transform:translateY(-4px);
}

.smallGridCard img{
    width: 50px;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 12px;
}


/*--------------Alignment(top of container) for Favorites, Rating and Media/Main Types--------------*/

.smallGridTopIcons .favoriteTrue, .smallGridTopIcons .favoriteFalse, .smallGridTopIcons .rating, .smallGridTopIcons .mainType {
    display: flex;
    align-items: flex-start;
}

/*--------------Top Container for Favorites, Rating and Media/Main Types--------------*/

.smallGridTopIcons{
    display: flex; /* Flexbox layout */
    align-items: flex-start; 
    gap: 8px;
    transform: translate( 0px, 15px );

}

/*--------------Middle Container for Card Title--------------*/

.smallGridCardText {
    flex: 1; /* Takes up remaining space */
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.smallGridCardText p{
    margin-left: 0;
    font-size: 25px; /* Adjusted for readability */
    transform: translate( 0px, -8px );

    display: -webkit-box; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 250px; 
}

/*--------------Bottom Container for Progress Bar--------------*/

.smallGridBottomIcons{
    position: relative;
    width: 180px;
    transform: translate( -10px, -10px );
}

/*=======================================================
                SMALL GRID ADD MEDIA CARDS LAYOUT
=======================================================*/

.addSmallGridCard{
    width: 50px;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to right, #888888, #000000);
    border-radius: 12px;
}

.addSmallGridCard img{
    width: 25px;
    height: 25px;
}

/*--------------Add Card Text Under Small Card---------------*/

.smallGridAddCardText {
    flex: 1; /* Takes up remaining space */
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.smallGridAddCardText p{
    font-size: 25px; /* Adjusted for readability */
    margin-left: 0;
}

/*============================================
                SMALL LIST CARDS LAYOUT
  ============================================*/

.smallListCard {
    width: 100%; /* Fixed width to control the card size */
    height: 80px;
    display: flex; 
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s;
    gap: 0px 20px;
    /* background-color: #f9f9f9;  */

}

.smallListCard:hover {
    opacity: 0.5; 
    transform:translateY(-4px);
}

.smallListCard img{
    width: 50px;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius: 12px;
}

.smallListContainer{
    display: grid;
    grid-template-columns: 350px 1fr; /* First column is fixed at 200px, second takes remaining space */
    gap: 10px;
    padding: 0px;

    margin: 0; 
}

.smallListColumn{
    flex: 1 1 45%; 
    padding: 3px;
    box-sizing: border-box;
}

/*--------------Card Text Beside Small List Card---------------*/

.smallListTitle {
    margin: 0; 
    display: -webkit-box; 
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    text-align: left;
}

.smallListDescription{
    margin: 0; 
    display: -webkit-box; 
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    text-align: left;
    color: #b4b4b4;
}

.genre{
    margin-right: 10px;
    padding:2px 5px;
    border-radius:3px;
    color: #b4b4b4;
    font-size:8px; 
    border: 2px solid #b4b4b4;
    font-size: 13px;
}

/*=======================================================
                SMALL LIST ADD MEDIA CARDS LAYOUT
=======================================================*/

.addSmallListCard{
    width: 50px;
    height: 80px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to right, #888888, #000000);
    border-radius: 12px;
}

.addSmallListCard img{
    width: 25px;
    height: 25px;
}

/*--------------Add Card Text Under Small List Card---------------*/

.smallListAddCardText {
    flex: 1; /* Takes up remaining space */
    display: flex;
    align-items: left;
    justify-content: left;
    text-align: left;
}

.smallListAddCardText p{
    font-size: 25px; /* Adjusted for readability */
    margin-left: 0;
}

/*============================================
                LIST CARDS LAYOUT
  ============================================*/

.listCard {
    width: 100%; /* Fixed width to control the card size */
    height: 200px;
    display: flex; 
    cursor: pointer;
    user-select: none;
    transition: opacity 0.2s;
    gap: 0px 20px;
    /* background-color: #f9f9f9;   */
}

.listCard img{
    width: 130px;
    height: 200px;
    object-fit:cover;
    border-radius:20px;
}

.listGenre{
    transform: translateY(10px);
}

.listDescription{
    margin: 0; 
    display: -webkit-box; 
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    text-align: left;
    color: #b4b4b4;

    width:95%;
    transform: translateY(25px);
}

/*=======================================================
                LIST ADD MEDIA CARDS LAYOUT
=======================================================*/

.addListCard{
    width: 130px;
    height: 200px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image: linear-gradient(to right, #888888, #000000);
    border-radius: 20px;
}

.addListCard img{
    width: 60px;
    height: 60px;
}

.listAddCardText {
    flex: 1; /* Takes up remaining space */
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}


.listImage{
    z-index: 1;
}

.leftIconList{
    position:absolute;
    top:15px;
    left:10px;
    gap:4px;
    z-index: 2;


}

.rightIconList{
    position:absolute;
    top:15px;
    right:10px;
    gap:4px;
    z-index: 2;

    display:flex;
    flex-direction:column;
    align-items:center;
}
/*=======================================================
                    CARD ICONS
=======================================================*/

.rating{
    display: flex;
    justify-content: center;
    align-items: center;

    min-width: 2px;
    padding: 2px 4px;

    border-radius: 4px;
    font-size: 8px;
}

.favoriteTrue, .favoriteFalse{
    color:gold;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 18px;
    height: 18px;
}

.favoriteFalse{
    color:grey;
}

.mediaType{
    padding:3px 8px;
    border-radius:8px;
    color:white;
    font-size:8px;
} 

.mainType{
    padding:3px 8px;
    border-radius:8px;
    font-size:8px;
}

.progress{
    position:absolute;
    bottom:9px;
    left:10px;
    right:10px;
    height:2px;
    background:#d9d9d9;
    border-radius:5px;
    overflow: hidden;
}

.progress-fill{
    height:100%;
    background:#7ed957;
    border-radius:5px;
}

/* =================================
       MEDIA CLASSIFCATION COLORS
   =================================*/

.game{ background: var(--gameColor); }

.tv{ background: var(--tvColor); }

.music{ background: var(--musicColor); }

.book{ background: var(--bookColor); }

.movie{ background: var(--movieColor); }

/* ============================================
       TV SHOW/MOVIE CLASSIFCATION COLORS
   ===========================================*/

.animation{ background: var(--animationColor); }

.liveAction{ background: var(--liveActionColor); }

.anime{ background: var(--animeColor); }

/* =================================
       BOOK CLASSIFCATION COLORS
   =================================*/

.manga{ background: var(--mangaColor); }

.novel{ background: var(--novelColor); }

.novella{ background: var(--novellaColor); }

.comic{ background: var(--comicColor); }

.shortStory{ background: var(--shortStoryColor); }

.manhwa{ background: var(--manhwaColor); }

.lightNovel{ background: var(--lightNovelColor); }

/* =================================
       MUSIC CLASSIFCATION COLORS
   =================================*/

.album{ background: var(--albumColor); }

.ep{ background: var(--epColor); }

.single{ background: var(--singleColor); }

.mixtape{ background: var(--mixtapeColor); }

.soundtrack{ background: var(--soundtrackColor); }

/* =================================
       GAME CLASSIFCATION COLORS
   =================================*/

.mainGame{ background: var(--mainGameColor); }

.dlc{ background: var(--dlcColor); }

.expansion{ background: var(--expansionColor); }

.spinOff{ background: var(--spinOffColor); }

.remake{ background: var(--remakeColor); }

.remaster{ background: var(--remasterColor); }

.reboot{ background: var(--rebootColor); }

.collection{ background: var(--collectionColor); }

.fanMade{ background: var(--fanMadeColor); }

.demo{ background: var(--demoColor); }

/* =================================
       RATING CLASSIFCATION COLORS
   =================================*/

.rating9{ background: var(--rating9Color); }

.rating8{ background: var(--rating8Color); }

.rating7{ background: var(--rating7Color); }

.rating6{ background: var(--rating6Color); }

.rating5{ background: var(--rating5Color); }

.rating4{ background: var(--rating4Color); }

.ratingLow{ background: var(--ratingLowColor); }

.unrated{ background: var(--unratedColor); }